<form class="register">
  <div class="heading">
    <h2>Register</h2>
  </div>
  <div class="body">
    <div class="inner-body">
      <app-form
        [form]="form"
        [model]="model"
        [fields]="fields"
        [submit]="submit.bind(this)"
        [url]="url"
      >
      </app-form>
    </div>
  </div>
  <div class="footer">
    <p>You have already an account?</p>
    <span>
      <a class="link" routerLink="../login" routerLinkActive="active">Login</a>
    </span>
  </div>
</form>
