<div class="login">
  <div class="heading">
    <h2>Login to allin1social</h2>
  </div>
  <div class="body">
    <div class="socials-auth">
      <h3 class="sub-heading">With socials</h3>
      <div class="buttons">
        <button
          type="button"
          class="btn btn-primary social-button"
          (click)="loginWithSocial('facebook')"
        >
          Login with facebook
        </button>

        <button
          type="button"
          class="btn btn-primary social-button"
          (click)="loginWithSocial('twitter')"
        >
          Login with twitter
        </button>
      </div>
    </div>
    <h3 class="sub-heading">Simple login</h3>
    <!--  Try to do this in a better way without all this props passed  -->
    <!-- Transform this in a sort of placeholder like router-outlet -->
    <!-- Get the reference to parent component inside app-form and get all the useful props -->
    <app-form
      [form]="form"
      [model]="model"
      [fields]="fields"
      [submit]="submit.bind(this)"
    >
    </app-form>
  </div>
  <div class="footer">
    <p>You haven't an account?</p>
    <span>
      <a routerLink="../register" routerLinkActive="active" class="link"
        >Create new one</a
      >
    </span>
  </div>
</div>
