:host {
  .form-container {
    width: 600px;
    height: 600px;
    background: white;
    //TODO: learn box-shadow
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: absolute;
    padding: 32px;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
  }
}
